<% include ../partials/header %>
<h1>Login form</h1>
<form action="login" method="POST">
  <input type='text' name='username' placeholder='name'>
  <input type='password' name="password" placeholder='name'>
  <input type='submit' value="login">
  <a href="/forgot">Forgot Password</a>
</form>


<% include ../partials/footer %>