<% include ../partials/header %>
<h1 style="text-align:center">Register page </h1>

<div class="container" style="width:30% " >
  <form action="/register" method="POST">
  <div class="form-group form-inline">
    <label for="username">Username</label>
    <input style="margin-left:20px" class="form-control" type="text" name='username' placeholder="username">
  </div>
  <div class="form-group form-inline">
    <label for="username">Password</label>
    <input style="margin-left:20px" class="form-control" type="password" name='password' placeholder="password">
  </div>
  <div class="form-group form-inline">
  <label for="inputdefault">First Name</label>
    <input style="margin-left:15px" class="form-control" type="text" name="firstname" placeholder="firstname">
  </div>
  <div class="form-group form-inline">
    <label for="lastname">last name</label>
    <input style="margin-left:20px"class="form-control" type="text" name="lastname" placeholder="lastname">
  </div> 
  <div class="form-group form-inline">
    <label  for="avatar">avatar</label>
    <input style="margin-left:40px" class="form-control" type="text" name="avatar" placeholder="avatar">
  </div> 
  <div class="form-group form-inline">
    <label for="email">email</label>
    <input style="margin-left:45px"class="form-control" type="text" name="email" placeholder="email">
  </div>  
  <div class="form-group form-inline" >
    <label for="inputdefault">Secret Code </label>
    <input class="form-control form-inline" type="password" name="secret_code" placeholder="secret code">
  </div> 
  <div class="form-group">
    <button id="center" class="btn btn-primary">Register </button>
  </div> 
  </form>
</div>
<% include ../partials/footer%>